/* Estilos generales para el footer */
footer {
    font-family: Arial, sans-serif;
    color: #333;
}

footer.footer-light {
    background-color: white; /* Color claro */
    color: #333;
}

footer.footer-dark {
    background-color: #000; /* Color oscuro */
    color: #fff; /* Texto blanco */
}

/* Cambia el color de <strong> en el footer oscuro */
footer.footer-dark .footerSection strong {
    color: white; /* Color blanco en modo oscuro */
}

footer.footer-dark .input_subscribeNewsletter {
    background-color: black;
    border: 1px solid white;
    margin: 0;
}

footer.footer-dark .input_subscribeNewsletter::placeholder {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

footer.footer-dark .input_subscribeNewsletter.active {
    background-color: black;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

footer.footer-dark .subscriptionInputContainer button {
    border: 1px solid white;
    color: white;
}

/* Cambia el color de los enlaces de redes sociales */
.socialLinks a {
    text-decoration: none; /* Sin subrayado en los enlaces */
    transition: color 0.3s; /* Transición suave para el color */
}

/* Estilos para el modo claro */
footer.footer-light .socialLinks a {
    color: black; /* Color negro en modo claro */
}

/* Estilos para el modo oscuro */
footer.footer-dark .socialLinks a {
    color: white; /* Color blanco en modo oscuro */
}

/* Estilos para el contenedor de enlaces sociales */
.socialLinks {
    display: flex; /* Hacer que los enlaces se alineen en fila */
    gap: 1rem; /* Espacio entre los enlaces */
}

/* Estilos para la parte superior del footer */
.footerSuperior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4.5rem;
    padding-bottom: 10.2rem;
    border-top: 2px solid #dcdcdc;
    border-bottom: 2px solid #dcdcdc;
    gap: 8.8rem;
    width: 100%;
}

/* Estilos para el contenedor de enlaces del footer */
.footerLinksContainer {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    width: 100%;
    align-items: center;
    padding-left: 9rem;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.linksSections {
    display: flex;
    flex-direction: column;
}

.footerSection strong {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333; /* Color por defecto */
}

.linksSections a {
    text-decoration: none;
    color: #666;
    margin-bottom: 8px;
    font-size: 0.9em;
    transition: color 0.3s;
    padding-top: 0.3rem;
}

.linksSections a:hover {
    color: white;
}

/* Estilos para la suscripción */
.footerSubscriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 8rem;
    width: 100%;
}

.subscriptionInputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    margin-bottom: 1rem;
}

.subscriptionInputContainer button {
    background-color: transparent;
    color: black;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em;
    border: 1px solid black;
}

.input_subscribeNewsletter {
    background-color: transparent;
    border: 1px solid black;
    margin: 0;
}

.input_subscribeNewsletter::placeholder {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

.input_subscribeNewsletter.active {
    background-color: transparent;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

/* Estilos para la fila inferior del footer */
.footerInferior {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footerLogo {
    height: 4vh;
}

.footerBottomRow {
    display: flex;
    align-items: center;
    gap: 1rem;
}
