/* Estilos para el LoginContainer */
.loginContainer {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: white;
    color: #333;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
}

/* Estilo para la activación */
.loginContainer.active {
    animation: slideInVertical 0.3s ease forwards;
}

/* Estilo para logIn */
.logIn, .signIn {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.logInH2 {
    padding-left: 0;
}

/* Estilo para el encabezado de logIn */
.logInHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 2rem;
    align-items: center;
}

/* Estilo del botón de cerrar */
.closeContainerLogin {
    background: none;
    border: none;
    color: #333;
    font-size: 1.5rem;
    cursor: pointer;
}

/* Estilo para el texto de cuenta */
.accountText, .additionalText {
    width: 100%;
    text-align: center;
}

/* Estilo para los campos de entrada */
.inputField {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Estilo para los inputs */
.inputField input {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.imageContainer_home {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* Estilo para el enlace de recuperar contraseña */
.forgotPassword {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    padding-top: .5rem;
}

/* Efecto hover en el enlace de recuperar contraseña */
.forgotPassword:hover {
    color: #000;
}

/* Estilo para los botones */
.buttonSubmitLogIn, .buttonSubmitSignIn {
    padding: 0.75rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.buttonSubmitLogIn {
    background-color: black;
    border-radius: 28px;
}

.buttonSubmitLogIn:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.buttonSubmitSignIn {
    background-color: transparent;
    border: 1px solid black;
    color: black;
    border-radius: 28px;

}

.buttonSubmitSignIn:hover {
    background-color: black;
    color: white;
}

/* Estilo para el pie de signIn */
.signIn {
    border-top: 1px solid #dcdcdc;
    padding-top: 2rem;
    width: 100%;
}

.additionalText p{
    display: flex;
}

.submitButton {
    width: 100%;
}

.welcomeText {
    width: 70%;
}

.extraText {
    width: 70%;
}


.registerButton {
    width: 70%
}

.inputField_password {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.passwordContainer {
    position: relative;
    display: flex;
    align-items: center;
}

.inputLogin_Header {
    width: 100%;
    padding-right: 3rem; /* Espacio para el botón */
    padding-left: 1rem;
    box-sizing: border-box;
}

.togglePassword {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.togglePassword:focus {
    outline: none;
}

.material-symbols-outlined {
    font-size: 1.5rem;
    color: #666;
}

.togglePassword:hover .material-symbols-outlined {
    color: #000;
}
