@keyframes slideInVertical {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideOutVertical {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

.slideInVertical {
    animation: slideInVertical 0.3s ease forwards;
}

.slideOutVertical {
    animation: slideOutVertical 0.3s ease forwards;
}

.groupButtons_Header {
    display: flex;
    padding-left: 1rem;
}

.z-index_nameSearch {
    color: white;
    font-weight: bold;
    font-size: 18px;
    width: 20%;
    display: flex;
    padding-left: 1.5rem;
}

.containerZ-index_Search {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 29%;
    position: absolute;
    height: 40%;
}

.searchContainer {
    position: fixed;
    top: -2px;
    width: 100%;
    height: auto;
    background-color: white;
    color: #333;
    padding-top: 1rem;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.searchContainer.active {
    animation: slideInVertical 0.3s ease forwards;
}

.searchBarRecentSearches_Container {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchRecomendation_Container.hidden {
    display: none;
}

.searchRecomendation_Container.visible {
    display: block;
    background-color: white;
    width: 45%;
    position: absolute;
    top: 80px;
    padding-top: 2rem;
    padding-bottom: .7rem;
    padding-left: 4rem;
}

.recomendSearches {
    list-style: none;
    display: flex;
}

.searchRecommendation_Navlink {
    display: flex;
    gap: 1rem;
    padding-top: .8rem;
}

.searchRecomendation_flexColumn span{
    font-size: 20px;
}

.groupList_searchesRecomendations {
    padding: 0;
    display: flex;
    flex-direction: column;
}

.searchInputContainer {
    display: flex;
    flex-direction: row ;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.recentSearches_Block {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContent {
    width: 80%;
    display: flex;
    gap: 14rem;
    justify-content: center;
}

.searchContent.flexRow {
    width: 55%;
    border: 1px solid black;
    display: flex;
    border-radius: 36px;
    align-items: center;
}

.searchBar.activeSearch {
    border: none;
    outline: none;
}

.searchBar {
    border: none;
    width: 62%;
    height: 20px;
}

.clearButton {
    border: 1px solid black;
    color: black;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clearButton:hover {
    background-color: black;
    color: white;
    border: none;
}

.additionalTextContainer {
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
}

.searchButton {
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: transparent;
}

.filterButton {
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.flexRow {
    display: flex;
    width: 100%;
}

.popularSearches {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.popularSearches h3 {
    width: 30%;
    padding-left: 3rem;
}

.genderSearch {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    gap: 3rem;
    padding-left: 6rem;
}

.maleSearch, .femaleSearch {
    width: 30%;
}

.maleSearch ul li a, .femaleSearch ul li a {
    display: block;
    margin-bottom: 0.5rem;
    color: #191919;
    text-decoration: none;
}


.maleSearch h4, .femaleSearch h4 {
    margin-bottom: 0.5rem;
}

.maleSearch ul, .femaleSearch ul {
    list-style: none;
    padding: 0;
    
}

.productGridHeader {
    width: 70%;
    border-left: 1px solid #dcdcdc;
}

.productGridHeader h3 {
    width: 50%;
    padding-left: 7.3rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.productItemHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.productItemHeader img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.productGridHeader .gridContainer .productItemHeader:last-child .containerZ-index_Search .z-index_nameSearch {
    color: black;
}

.productItemHeader p {
    width: 78%;
    text-align: center;
    margin: 0;
    padding-bottom: .5rem;
}

.productItem {
    text-align: center;
}

.productItem img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;

}

.closeButtonHeader {
   font-size: 16px;
    right: 0;
    border: none;
    cursor: pointer;
    background: transparent;
}

.recentSearches_flexRow {
    display: flex;
    gap: 2rem;
    list-style: none;
}
