footer {
    font-family: Arial, sans-serif;
    color: #333;
}

footer.footer-light {
    background-color: white;
    color: #333;
}

footer.footer-light .linksSections a:hover {
    color: #000000;
}

footer.footer-dark .linksSections a:hover {
    color: #bbb;
}

footer.footer-dark {
    background-color: #000;
    color: #fff;
}

footer.footer-dark .footerSection strong {
    color: white;
}

footer.footer-dark .input_subscribeNewsletter {
    background-color: black;
    border: 1px solid #dcdcdc;
    color: white;
    margin: 0;
}

footer.footer-dark .input_subscribeNewsletter::placeholder {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

footer.footer-dark {
    background-color: black;
    color: white;
    padding-bottom: 1rem;
    font-size: 18px;
}

.input_subscribeNewsletter.active {
    background-color: transparent;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
}

footer.footer-dark .subscriptionInputContainer button {
    border: 1px solid #dcdcdc;
    color: white;
}

.socialLinks a {
    text-decoration: none;
    transition: color 0.3s;
}

footer.footer-light .socialLinks a {
    color: black;
}

footer.footer-dark .socialLinks a {
    color: #bbb;
}

.socialLinks {
    display: flex;
    gap: 1rem;
}

.footerSuperior {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4.5rem;
    padding-bottom: 10.2rem;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    gap: 8.8rem;
    width: 100%;
}

.footerLinksContainer {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    width: 100%;
    align-items: center;
    padding-left: 9rem;
}

.footerSection {
    display: flex;
    flex-direction: column;
}

.linksSections {
    display: flex;
    flex-direction: column;
}

.footerSection strong {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.linksSections a {
    text-decoration: none;
    color: #666;
    margin-bottom: 8px;
    font-size: 0.9em;
    transition: color 0.3s;
    padding-top: 0.3rem;
}

.linksSections a:hover {
    color: white;
}

.footerSubscriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-left: 8rem;
    width: 100%;
}

.subscriptionInputContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 80%;
    margin-bottom: 1rem;
}

.subscriptionInputContainer button {
    background-color: transparent;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    width: 30%;
    border: 1px solid black;
}

.input_subscribeNewsletter {
    background-color: transparent;
    padding: 15px;
    font-size: 18px;
    margin: 0;
    border: 1px solid black;
    border-radius: 4px;
}

.input_subscribeNewsletter::placeholder {
    font-size: 18px;
    color: #aaa;
}

.input_subscribeNewsletter.active {
    background-color: transparent;
    color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

.footerInferior {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.footerLogo {
    height: 4vh;
}

.footerBottomRow {
    display: flex;
    align-items: center;
    gap: 1rem;
}
