.container_adminContainer {
    background-color: #D9D9D9;
}

.blockContainer_sizeDisplay {
    width: 100%;
    padding-left: 1rem;
}

.admin-panel {
    width: 100%;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.containerTittle_AdminContainer_Create {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerTittle_AdminCreate {
    width: 90%;
}

/* .containerForPreviews {
    display: grid;
    grid-template-columns: repeat(4, 20%);
    grid-template-rows: auto;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
} */

.containerForPreviews {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #dcdcdc;
    padding-top: 1rem;
}

.noImagePreview {
    text-align: center;
    color: #888;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    width: 200px;
    height: 200px;
    border: 1px dashed #ccc;
    border-radius: 5px;
  }

.imagePreview {
    position: relative;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px dashed #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.previewImage {
    border-radius: 8px;
    max-width: 200px;
    min-width: 200px;
    object-fit: cover;
}

  .deleteImage_Button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }










.productForm {
    width: 100%;
    flex-direction: column;
    display: flex;
}

.godSon {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accordionContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    gap: 8rem;

}

.godDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
}



.accordionContainer.open {
    background-color: white;
    border: none;
    display: flex;
    width: 100%;
    justify-content: center;
}

.container_ButtonSubmit {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 3rem;
}

.container_ButtonSubmitContainer {
    display: flex;
    width: 92%;
    flex-direction: column;
    justify-content: center;
}

.createVariant_Container {
    width: 92%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.variantForm {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.divForm_ColumnContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    gap: 1rem;
}

.text_createVariant {
    padding-bottom: 1rem;
}

.sizeDisplay {
    list-style: none;
    border: 1px solid black ;
    width: 100%;
    padding: 0;
    display: flex;
}

.sizeSelected_Group {
    border: 1px solid black;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
}

.containerSize_Display {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas de igual tamaño */
    grid-auto-rows: repeat(4, 1fr); /* Altura de cada fila al 20% del contenedor */
    gap: 1rem; /* Espacio entre filas y columnas */
    width: 100%; /* Ajusta al tamaño completo del contenedor padre */
}

.sizeSelected_Group .pSize_display {
    display: flex;
    flex-direction: column;
    width: 100%;
    line-height: 1;
}

.sizeDisplay {
    list-style: none;
    margin: 0;
    padding: 0;
    display: contents; /* Para que el contenedor no influya en el grid */
}

.buttonSize_container {
    height: 100%;
}

.deleteSize_Button{
    height: 100px;
    width: 100px;
}

.deleteSize_Button span {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* .containerFor_inputSize.sizeContainer_Button {
    display: flex;
    flex-direction: column;
    height: 100%;
} */

.containerFor_inputSize {
    height: 100%;
    width: 80%;
    display: flex;
    gap: .5rem;
    flex-direction: column;
    align-self: flex-end;
}

.sizeContainer_Button {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerRow_forSize {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 3rem;
}

.submitEditProductButton {
    background-color: transparent;
    color: black;
    padding: 0.75rem 2rem;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.introduceImageContainer {
    display: flex;
    align-items: center; /* Centra verticalmente */
    justify-content: center;
    text-align: center;
    gap: 1rem; /* Espacio entre el label y el input */
    width: 100%;
}

.introduceImage {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
    gap: 1rem;
    width: 50%;
  }

  .inputImage {
    display: none;
}

  .labelImage {
    background-color: #000; /* Cambia según tu diseño */
    width: 100%;
    color: #fff; /* Cambia según tu diseño */
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 0.3s ease;
  }

  .labelImage:hover {
    background-color: transparent;
    border: 1px solid black;
    color: black;
  }

.divForm_Column:last-child {
    padding-bottom: 3rem;
}

.divForm_Column input {
    padding-left: 1rem; 
  }

  .divForm_Column select {
    padding-left: 1rem; 
  }
  
.divForm_Column {
    width: 88%;
    gap: .6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.createProductContainer {
    display: flex;
    justify-content: center;
    margin-top: -10rem;
    z-index: 10;
}

.adminPanel_Variants {
    flex-direction: column;
}

.editProductContainer {
    display: flex;
    justify-content: center;
}

.createProductContainer, .editProductContainer {
    width: 100%;
    padding-top: 10rem;
}

.createProduct, .editProduct {
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.containerTittle_Admin {
    width: 95%;
    display: flex;
    justify-content: flex-start;
}

.containerTittle_Admin h1 {
    display: flex;
    justify-content: center;
}



.containerTittle_AdminContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

textarea {
    resize: vertical;
}

.submitEdition, .submitEditProduct {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.submitEdition,
.submitEditProduct {
    width: 100%;
    justify-content: center;
    padding-top: 2rem;
}


.submitCreateButton {
    background-color: black;
    color: white;
    padding: 0.75rem 2rem;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.submitCreateButton:hover, .submitEditProductButton:hover {
    background-color: #D9D9D9;
    color: black;
}

.error-text {
    color: red;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    width: 90%;
}
  
  .imagePreview {
    position: relative;
    display: inline-block;
  }
  
  















  .admin-nav {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.admin-nav button {
    padding: 0.5rem 1rem;
    background: #f5f5f5;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background 0.3s;
}

.admin-nav button.active {
    background: black;
    color: #fff;
}

.active {
    font-weight: bold;
}


.products-section, .other-section {
    padding: 1rem;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 8px;
}
