.checkoutSection {
    display: flex;
    width: 100%;   
    margin-top: -3rem; 
}

.buttonTo_Stripe {
    border: 1px solid black;
}

.buttonTo_Stripe:hover {
    border: 1px solid black;
}

.iconAccordion {
    display: flex;
    gap: 2rem;
}

.columnFlex {
    width: 40%;
    background-color: white;
    height: 80vh;
    position: sticky;
    top: 0;
    padding-top: 6rem;
   
}



.infoAboutChanges {
    width: 84%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

.black-box {
    width: 8%;
    height: 80px;
    background-color: black;
}

.white-box {
    width: 85%;
    background-color: white;
    text-align: start;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.cartPrev {
    width: 80%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
}

.cartPrev div {
    font-size: 24px;
}

.view-cart-button {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.cartDetails {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}

.product-image {
    width: 160%;
    padding: 10px;
    background-color: white;
    border-right: 2px solid black;
}

.product-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid #ddd;
}

.infoProductCheckOut {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    
}

.product-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 2px solid black;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
    padding-left: 1.5rem;
}

.upperInformation {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* A침adido para espacio entre color y talla */
    padding-bottom: 16rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.renderContent {

}

.color-size {
    display: flex;
    justify-content: space-between;
}

.quantity-price {
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.action-buttons {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    
}

.favorites-button, .remove-button {
    width: 50%;
    background-color: white;
    color: black;
    border: none;
    padding-bottom: 1.7rem;
    padding-top: 1.7rem;
    cursor: pointer;
}

.favorites-button {
    border-right: 1px solid black;
}

.favorites-button:hover, .remove-button:hover {
    background-color: black;
    color: white;
}

.checkout-button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 1rem;
    padding-right: 16.5rem;
    padding-bottom: 3rem;
}

.checkout-button {
    width: 20%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    border: 1px solid black;
}

.checkout-button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.right-column {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    gap: 1rem; /* A침adido para un gap entre elementos */
}

.header-finalBuying {
    width: 100%;
    border-bottom: 1px solid black;
}

.totalPrice, .deliverySpendings, .finalPriceCheckOut {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem;
}

.finalPriceCheckOut {
    padding-top: 2rem;
}

.finalPrice-CheckOut {
    display: flex;
    align-items: flex-end;
    padding-left: 2.4rem;
}

.buyingButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.2rem;
    padding-bottom: 3rem;
}

.buyingButtonContainer button{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    color: white;
    border-radius: 22px;
}

.buyingButtonContainer button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}

.right-columnInformation {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.informationToggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    cursor: pointer; /* Agregado para indicar que es interactivo */
    transition: background-color 0.3s ease; /* Efecto de transici칩n al fondo */
}

.buttonForward {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.groupInformation {
    width: 80%;
    justify-content: space-between;
    display: flex;
    
}

.left-column {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
    padding-top: 3rem;
    gap: 1rem; /* A침adido para un gap entre los elementos internos */
}

.accordion-CheckOut {
    
}