.myCustomClass {
    text-decoration: none;
    color: black;
}

.pHome {
    color: black;
    text-decoration: none;
}

.imageContainer_home {
    position: relative;
    overflow: hidden;
}

.myCustomActiveClass {
    text-decoration: none;
    color: black;
}

.newCollections {
    text-align: center;
    z-index: 1;
    position: relative;
    padding-top: 2rem;
}

.h1Style {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
    font-family: 'Arial', sans-serif;
    padding-top: 3rem;
    padding-bottom: 1.4rem;
}

.carruselContainer_newCollections {
    background-color: white;
}

.newDropsHome {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    width: 100%;
    min-height: 800px;
    padding-top: 2rem;
    justify-content: center;
    border-radius: 10px;
}

.overlay_newCollections {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: top .5s ease-in-out;
}

.overlayText_newCollections {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
    padding: 0 1rem;
}

.imageContainer_home:hover .overlay_newCollections {
    top: 0;
}

.imageContainer_home:hover .itemImage {
    transform: scale(1.1);
}

.newCollections_Container{
    display: flex;
    flex-direction: column;
}

.newDropsHome_Container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.videoLink {
    display: block;
    text-align: center;
}

.homeVideo {
    width: 100%;
    height: auto;
}

.container_videoSession-2 {
    top: 0;
    width: 100%;
    height: 120vh;
    overflow: hidden;
    position: sticky;
    z-index: 1;
}

.carruselHome,
.container_image_autumn,
.newCollections,
.newDropsHome2,
.newDropsHome {
    z-index: 2;
    position: relative;
    background-color: white;
}

.videoElement {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textOverlay {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}

.textsHero_container {
    position: absolute;
    bottom: 30%;
    width: 100%;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    z-index: 9998;
    
}

.textsHero_container p {
    font-size: 6rem;
    font-weight: bold;
    margin: 0;
    /* width: 100%; */
    left: 5%;
    animation: fadeIn 1s ease-in-out;
    position: absolute;
}

.videoScrollContainer {
    position: sticky;
    top: 0;
}

.nextButton {
    position: absolute;
    top: 27%;
    right: 80px;
    transform: translateY(-50%);
    z-index: 1;
    background-color: transparent;
    color: white;
    border: none;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.nextButton span {
    font-size: 10rem;
    color: white;
}

.nextButton:hover {
    color: black;
}




.itemImage {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

.carruselHome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -3rem;
}

.imageAutumn {
    object-fit: cover;
    width: calc(80%);
    padding-left: 17rem;
    padding-top: -2rem;
    height: calc(110vh);
    margin-top: 21.5rem;
}

.videoCarousel {
    height: 650px;
    width: 530px;
    border-radius: 10px;
}

.leftVideoContainer {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.leftTextContainer p{
    font-size: 24px;
}

.rightCarouselContainer {
    width: 65%;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
    margin-left: 2rem;
    background-color: white;
}

.carousel {
    display: flex;
    gap: 2rem;
    animation: scroll 1280s linear infinite;
    position: relative;
}

.carouselItem {
    flex: 0 0 auto;
    width: 550px;
    height: 650px;
    text-align: center;
    color: black;
    text-decoration: none;
    overflow: hidden;
    position: relative;
}

.container_image_autumn.stickyVideo {
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    z-index: 1;
}

.newCollections.lastSection {
    position: relative;
    z-index: 2;
}

.miniLogo_modalContainer {
    display: flex;
    justify-content: center;
    padding-top: .5rem;
}

.carousel_textContainer_Home {
    position: absolute;
    bottom: 4%;
    left: 20%;
    transform: translateX(-50%);
    z-index: 2;
    color: white;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.carousel_textContainer_homeText {
    margin: 0;
    font-weight: bold;
    z-index: 3;
    font-size: 22px;
    width: 100%;
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    position: relative;
    z-index: 1;
}

.carousel:hover {
    animation-play-state: paused;
}

.carousel::after {
    content: '';
    display: flex;
    gap: 2rem;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

.containerProductsLast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}

.product {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.imageSimulator {
    width: 100%;
    height: 400px;
    background-color: gray;
    border-radius: 8px;
}

.dropItem {
    justify-content: center;
    text-decoration: none;
    color: black;
}

.newDropsHome2 {
    display: flex;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding-bottom: 3.6rem;
}

.newCollections_Block {
    width: 100%;
    display: flex;
    justify-content: center;
}

.itemImageDrops {
    width: 100%;
    height: 500px;
}

.carruselContainer_newCollections {
    overflow: hidden;
    padding-top: 1rem;
    width: 100%;
    position: relative;
    padding-bottom: 1rem;
}

.carruselTrack {
    display: flex;
    animation: scroll 55s linear infinite;
}

.carruselSlide {
    flex: 0 0 auto;
    width: 155vh;
    text-align: center;
    border-top: 10px solid red;
    border-bottom: 10px solid red;
}

.carruselText {
    font-size: 44px;
    font-weight: bold;
    color: #333;
    margin: 1rem 0;
}

.carruselTrack {
    animation: scrollCarruselTrack 140s linear infinite;
  }

@keyframes scrollRightCarousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }
  
  @keyframes scrollCarruselTrack {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-520%);
    }
  }

  @keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.videoWrapper {
    position: relative;
    overflow: hidden;
    justify-content: center;
    height: 1000px;
}

.scrollImage {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-out, transform 1s ease-out;
    position: absolute;
}

.scrollImage.animate {
    animation: slideInFromRight 1s ease-out;
    z-index: 2;
    opacity: 1;
    transform: translateX(0);
}