.h4Products {
    margin: 0;
    padding-top: 1rem;
}

.priceContainer_productPage {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

.containerInfo_productPage {
    padding-left: 1rem;
    background-color: rgb(238, 238, 236) ;
}

.videoWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.productGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
    background-color: rgb(238, 238, 236);
}

.productItem_ProductPage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.productItem_ProductPage img {
    height: calc(25%);
    padding-top: .3rem;
}

.groupImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.likeIcon {
    position: absolute;
    top: calc(3%);
    right: calc(4%);
    z-index: 10;
    padding: 10px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.productImageWrapper {
    position: relative;
}

.imageProducts_Container {
    padding-bottom: -10rem;
}

.imageProducts_Container img{
    max-width: 100%;
    margin-top: -10rem;
    z-index: -99;
}

.container_ImageEffect {
    overflow: hidden;
    position: relative;
    margin-bottom: -.4rem;
}

.likeIcon span {
    font-size: 28px;
    color: black;
}